<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/participation/new.css}" href="/styles/participation/new.css" rel="stylesheet" type="text/css"/>

    <title>New Game</title>
</head>
<body>
<form th:method="POST" th:action="@{/games}" th:object="${game}">
    <label for="game_name">Enter name:</label>
    <input type="text" th:field="*{game_name}" id="game_name" required/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>